#lookBookVendors_container {
  h1 {
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    letter-spacing: 4px;
  }
  .row {
    .col-xs-4 {
      padding: 5px;
      margin: 0;
    }
    .col-sm-4 {
      padding: 5px;
      margin: 0;
    }
    .col-md-4 {
      padding: 5px;
      margin: 0;
    }
  }
}
#lookBook_row {
  display: flex;
  #lookBookMain_mainImage {
    height: auto;
    width: auto;
  }
  #lookBookMain_mainImage {
    img {
      border: 1px solid #efefef;
      border-radius: 3%;
    }
  }

  .lookBookMain_subParent {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    height: auto;
    width: auto;
    .lookBook_subImages {
      .lookBookMain_subImage {
        img {
          border: 1px solid #efefef;
          border-radius: 3%;
        }
      }
    }
  }
}

#lookBook_mainImage {
  width: fit-content;
  height: fit-content;
  padding: 5px;
}
