.lookBookVendors_container {
  .row {
    .col-xs-4 {
      padding: 5px;
      margin: 0;
    }
    .col-sm-4 {
      padding: 5px;
      margin: 0;
    }
    .col-md-4 {
      padding: 5px;
      margin: 0;
    }
  }
}