@import '../../../../global/global.scss';


.category_container {
  display: flex;
  width: fit-content;
  min-width: 60%;
}
.category_title {
  margin: 1em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
}
.category_title:hover {
  color: $blue;
}
.category_lower {
  // border-left: 2px solid $grey;
}
.subCategory_name {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em;
}
.subCategory_name:hover {
  color: $blue;
}
.subCategory_item {
  text-transform: capitalize;
  color: $fontGrey;
  margin: 1em 0;
}
.subCategory_item:hover {
  color: $blue;
}