@import '../../../global/global.scss';

#navbar-desktop {
  .row {
    padding: 0;
    margin: 0;
  }
}

// /* Wrapper for item list */
.bm-item-list, .bm-item {
  height: auto;
  text-decoration: none;
  color: #484848;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $monts;
}
.bm-item-list:hover {
  color: $blue;
}

@media only screen and (min-width: 961px) {
  
  #navbar-desktop {
    position: fixed;
    width: 100%;
    height: 5vh;
    z-index: 10;
    background: white;
    display: flex;
    border: 1px solid $fontGrey;

  }
  .navbar-item {
    width: 70%;
    // height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    .bm-item-list {
      display: flex;
      text-align: center;
      width: fit-content;
      font-size: 14px;
      color: $black;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      white-space: nowrap;
    }

    .bm-item-list:hover {
      color: $blue;
    }
  }

  .navbar_tooltip {
    display: flex !important;
    flex-direction: row;
    opacity: 1 !important;
    box-shadow: 5px 5px 5px $fontGrey;
    // min-width: 25% !important;
    width: fit-content !important;
  }
}

