@import "../../../global/global.scss";

.col-xs-6 {
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
  padding: 0;
}

.signIn {
  .signIn_container {
    .header {
      h1 {
        font-size: 24px;
        text-align: left;
        margin-bottom: 0.5em;
        font-weight: bold;
        text-transform: uppercase;
      }
      .signIn_text {
        color:gray;
        margin-bottom: 1em;
      }
    }
    form {
      label {
        input {
          background-color: #f0f0f0;
          border: 1px solid #cacaca;
        }
        button {
          text-decoration: underline;
          text-decoration-color: #cacaca;
        }
      }
      #signIn {
        border: 1px solid white;
        background-color: #168dc8;
        padding: 0.7em;
        border-radius: 5%;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  
}

@media only screen and (min-width: 426px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {

}