@import "../../../global/global.scss";

.col-xs-6 {
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
  padding: 0;
}

#signInBuyer_login {
  p {
    padding-top: 1em;
    line-height: 2em;
    padding-bottom: 1em;
  }
  .signInBuyer_input {
    width: 90%;
  }
}

.signInBuyer_container {
  display: flex;
  #signInBuyer_register {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: auto;
      padding-top: 1em;
      line-height: 2em;
      padding-bottom: 1em;
    }

  }
  #signInBuyer_forgotPassword {
    display: flex;

    label {
    }
        p {
          width: fit-content;
          padding-left: .3em;
        }
        button {
          padding-left: 3em;
        }
  }

  h1 {
    text-align: left;
    padding: 0;
  }

  #sendlogin {
    min-width: 12em;
  }
}

@media only screen and (max-width: 425px) {
  .signInBuyer_container {
    flex-direction: column;

    #signInBuyer_login {
      padding-bottom: 1em;
      padding-top: 3em;
    }

    #signInBuyer_register {
      border-top: 1px solid #c3c3c3;
      padding-top: 3em;

      p {
        padding-top: 1em;
        line-height: 2em;
        padding-bottom: 2em;
      }
    }
  }
}

@media only screen and (min-width: 426px) {
  .signInBuyer_container {

    #signInBuyer_register {
      border-left: 1px solid #c3c3c3;
      padding-left: 2em;

      p {
        padding-top: 1em;
      }
    }
  }
}
