@import '../../../../global/global.scss';
#address_containerId, #address_containerId2 {
  margin: 0 auto;
}
.address_container {
  width: 90%;
  background: #f9f9f9;
  margin: 0 auto 0;

  .buyerRegistration_subtitle {
    width: 100%;
    background: $grey;
    padding: 1em;
    font-size: 20px;
  }
}
@media only screen and (min-width: 961px) {
  .address_container {
    width: 70%;

    .buyerRegistration_subtitle {
      padding: 1em 10%;
    }
  }
 
}
