.companyHeader_searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
}
.companyHeader_search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  width: 100%;
}
.companyHeader_search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}
#companyHeader_container {
  margin-top: 1em;
  color: black;
  overflow: -webkit-paged-x;
  display: flex;
  .companyHeader_logo {
    margin-bottom: auto;
    text-align: center;
    #companyheader_img {
      height: 2.5em;
      width: auto;
    }
  }
  .companyHeader_searchAll {
    align-self: center;
    #companyHeader_searchButton {
      width: fit-content;
    }
  }
  .companyHeader_fa-search {
    color: black;
    text-align: right;
  }
}

#companyHeader_signInButton {
  color: #2e6da4;
  background-color: white;
  border-color: #2e6da4;
}

#companyHeader_selectCountry {
  width: 100%;
}

#companyheader_selectHelp {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#dropdown-menuAllVendors {
  line-height: 1.5em;
  padding: .5em;
}

#companyHeader_countryDropDown {
  display: flex;
}

#companyHeader_registerSignIn {
  display: flex;
  padding: .5em;

  .companyHeader_signLog {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    #companyHeader_signInButton {
      padding: .5em;
    }
  }
}

@media only screen and (max-width: 426px) {
  #companyHeader_container {
    flex-direction: column;
  }
}