@import '../../../../global/global.scss';

.businessInformation_container {
  width: 90%;
  margin: 5% auto 0;
  background: #f9f9f9;

  .checkbox {
    border-bottom: 1px solid #dfdfdf;

    span {
      font-size: 14px;
      margin: 10px 0;

      select {
        border: 1px solid #eeefef;
        background: white;
      }
    }
  }
  .dotted {
    border-bottom: 2px dotted #dfdfdf;
  }
}
@media only screen and (min-width: 961px) {
  .businessInformation_container {
    width: 50%;
  }
}
