#settings {

  background-color: #efefef;


  .settings__activeTab {
    background-color: #ce5b6c !important;
  }

  .settings__tablist {
    height: 100%;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #FFF;

    .open {
      i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .mainTab__name {
        color: #b63b4d;
      }
    }
    
    i, .fa-chevron-down{
      width:12px;
      height:12px;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .settings__mainTab {
      color: #000;


      border-bottom: 1px solid rgba(0,0,0,0.1);
      
      .mainTab__name {
        display:flex;
        justify-content: flex-start;
        padding: 10px;
      

        h4 {
          padding-left: 10px;
          font-size: 14px;
          font-weight: 700;
        }

        i {
          display: flex;
          justify-content: flex-end;
        }
      }
      
      .grow {
        overflow: hidden;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        -webkit-transition: height .5s;
        transition: height .5s;
      }

      
      .settings__subTab {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 10px 20px;
        background-color: #355c7d;
        color: #fff;

        outline: 0;

        &:last-child {
          border: 0;
        }
        &:first-child {
          border-top: 1px solid rgba(0,0,0,0.1);
        }
        &:hover {
          background-color: #b63b4d;
        }
      }
    }
  }
  
  .settings__tabpanels {
    
  }

}
