#reviews {
  background-color: #efefef;
  margin: 0 auto;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
  }
 
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    li {
      display: flex;

      a {
        display: inline;
      }
    }
  }

  .tab-content {
    .tab-pane {
      width: 100%;
      background-color: #fff;
    }
  }
}