#companyFooter_container {
  background-color: #333333;
  color: white;
  width: 100%;
  padding: 1em;
  line-height: 1.5em;
  font-size: 12px;
}

@media only screen and (max-width: 769px) {
  #companyFooter_container {
    font-size: 9px;
  }
}