@import "../../../global/global.scss";
.signInRegister_container {
  padding-left: 2em;
  padding-right: 2em;
  .signInRegister_header {
    .signInRegister_searchBar {
      text-align: center;
      img {
        width: 2em;
        height: 100%;
      }
    }
    .signInRegister_text {
      text-align: center;

      #register {
        text-align: right;
      }
      #signIn {
        text-align: left;
      }
    }
  }
  .signInRegister_registration {
    margin: 0;
    text-align: center;
  }
  .signInRegister_languages {
    text-align: center;
    margin: 0;
    text-align: center;
  }
  .signIn_becomeBuyer {
    background-color: #dadada;
    padding: 0.2em;
    h2 {
      text-align: center;
      font-size: 2em;
      border-bottom: 0.1em solid white;
      padding-bottom: 0.2em;
    }
    .signIn_buyerText {
      text-align: center;
    }
    .register_now {
      background-color: #9191f7;
      color: white;
    }
  }
  .signIn_becomeVendor {
    h2 {
      text-align: center;
      font-size: 2em;
      border-bottom: 0.1em solid white;
      padding-bottom: 0.2em;
    }
    .signIn_vendorText {
      text-align: center;
    }
  }
  .register_now {
    background-color: #9191f7;
    color: white;
  }
}
