@import "../../../global/global.scss";

.signInRegister_container {
  display: flex;
  flex-direction: column;

  .signInRegister_header {
    display: flex;
    flex-direction: column;

    .signInRegister_searchBar {
      border: 1px solid black;
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0.2em;
      justify-content: space-around;
    }
    .signInRegister_text {
      display: grid;
      grid-template-columns: 50% 50%;
      padding-top: 1em;
      justify-items: center;

      #register {
        text-align: center;
      }
      #signIn {
        text-align: center;
        border: 1px solid #9595ff;
        width: fit-content;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .signInRegister_registration {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    text-align: center;

    h1 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: .5em;
    }

    .signIn_languages {
      display: flex;
      justify-content: center;

      .english {
        border: 1px solid black;
        width: fit-content;
        padding: 0.5em;
      }
      .spanish {
        border: 1px solid black;
        width: fit-content;
        padding: 0.5em;
      }
    }
    .signIn_text {
      margin-top: 1em;
      color: gray;
      line-height: 1.5em;
    }
  }
}

@media only screen and (max-width: 425px) {
  .signInRegister_container {
    .signInRegister_header {
      img {
        margin-top: 1em;
      }
      .signInRegister_searchBar {
        img {
          width: 2em;
          height: 100%;
        }

        input {
          min-width: 14em;
          max-width: 21em;
        }
      }
    }

    .signInRegister_registration {
      h1 {
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
}
