#categoryCollection_container {
  background-color: #efefef;
  border: none;
  .row {
  }
  .col-xs-3 {
    padding: 5px;
    margin: 0;
  }
  .col-sm-3 {
    padding: 5px;
    margin: 0;
  }
  .col-md-3 {
    padding: 5px;
    margin: 0;
  }
}
