@import "../../../global/global.scss";

.login_container {
  display: flex;
  justify-content: center;
  margin-top: 20%;

  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    padding: 1em;

    .login_form_label {
      .login_email {
        margin-bottom: 1em;
      }

      .login_password {
        margin-bottom: 0.8em;
      }
    }
  }
}

//mobile
@media only screen and (max-width: 425px) {
  .login_container {
    
    .login_form {

      .login_form_label {
        
        .login_email {
          border: 1px solid gray;
        }
        
        .login_password {
          border: 1px solid gray;
        }
      }
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {

}