#footerVastETech_container {
  #footerVastETech_row {
    .footerVastETech_button {
      border: 1px solid white;
      background-color: #333333;
      min-width: 12em;
    }
    #footerVastETech_buttonTop {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}