@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://fonts.googleapis.com/css?family=Encode+Sans:400,700");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;

}
html, body {
  width: 100%;

  margin: 0;
  padding: 0px;
	overflow-x: hidden; 
	overflow-y: scroll;
  z-index: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Colors

$grey: #efefef;
$fontGrey: #808080;
$blue: #168cc9;
$black: #333;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$monts: "Montserrat", sans-serif;

// Defaults 

.col-xs-12 {
  padding: 0;
  margin: 0;
}
.col-sm-12 {
  padding: 0;
  margin: 0;
}
.col-md-12 {
  padding: 0;
  margin: 0;
}

.col-xs-6 {
  padding: 0;
  margin: 0;
}
.col-sm-6 {
  padding: 0;
  margin: 0;
}
.col-md-6 {
  padding: 0;
  margin: 0;
}
.col-xs-4 {
  padding: 0;
  margin: 0;
}
.col-sm-4 {
  padding: 0;
  margin: 0;
}
.col-md-4 {
  padding: 0;
  margin: 0;
}
.col-xs-3 {
  padding: 0;
  margin: 0;
}
.col-sm-3 {
  padding: 0;
  margin: 0;
}
.col-md-3 {
  padding: 0;
  margin: 0;
}

.col-xs-2 {
  padding: 0;
  margin: 0;
}
.col-sm-2 {
  padding: 0;
  margin: 0;
}
.col-md-2 {
  padding: 0;
  margin: 0;
}

.col-xs-10 {
  padding: 0;
  margin: 0;
}
.col-sm-10 {
  padding: 0;
  margin: 0;
} 
.col-md-10 {
  padding: 0;
  margin: 0;
}